---
layout: workshop
root: .
venue: University of Glasgow
address: Kelvin Building,G12 8SU
country: United-Kingdom
latlng: 55.871709,-4.291651
humandate: Dec 11-12, 2014
humantime: 9:00 am - 5:00 pm
startdate: 2014-12-11
enddate: 2014-12-12
instructor: ["Alistair Grant", "Norman Gray"]
helper: ["To be confirmed"]
contact: alistair.grant@ed.ac.uk 
---

<h2>General Information</h2>

<!--
  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>'s mission
  is to help scientists and engineers get more research done in less
  time and with less pain by teaching them basic lab skills for
  scientific computing.  This hands-on workshop will cover basic
  concepts and tools, including program design, version control, data
  management, and task automation.  Participants will be encouraged to
  help one another and to apply what they have learned to their own
  research problems.
</p>

<!--
  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
</p>

<!--
  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>
<div class="row-fluid">
  <div class="span6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Introduction and software set-up</td> </tr>
      <tr> <td>10:00</td> <td>Version control with Git</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>11:00</td> <td>Version control with Git</td> </tr>
      <tr> <td>13:00</td> <td>Lunch break</td> </tr>
      <tr> <td>14:00</td> <td>Building programs with Python</td> </tr>
      <tr> <td><em>15:00</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>15:30</td> <td>Building programs with Python</td> </tr>
      <tr> <td>17:00</td> <td>Close</td> </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Automating tasks with Make</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>11:00</td> <td>Automating tasks with Make</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td>How (and how much) to test programs</td> </tr>
      <tr> <td><em>14:30</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>15:00</td> <td>How (and how much) to test programs</td> </tr>
      <tr> <td>16:00</td> <td>Best practices for scientific computing</td> </tr>
      <tr> <td>17:00</td> <td>Close</td> </tr>
    </table>
  </div>
</div>

<!--
  Display the Etherpad for the workshop.  You will probably set this
  up on the first day, so make sure you push changes to GitHub after
  you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<h2>Syllabus</h2>

<div class="row-fluid">
  <div class="span6"> 
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="novice/ref/02-git.html">Reference...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Building programs with Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals: <code>for</code>, <code>if</code>, <code>else</code>, ...</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="novice/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6"> 
    <h3>Automating tasks with Make</h3>
    <ul>
      <li>Make is not just for compiling code</li>
      <li>Basic Tasks</li>
      <li>Automatic Variables and Wildcards</li>
      <li>Patterns</li>
      <li>Variables</li>
      <li><a href="intermediate/make/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>How (and how much) to test programs</h3>
    <ul>
      <li>Can I do testing?</li>
      <li>Big Tests and Little Tests</li>
      <li>End to End</li>
      <li>Unit Testing</li>
      <li>Putting Tests Together</li>
      <li><a href="novice/testing/index.html">Reference...</a></li>
    </ul>
  </div>
</div>
<hr/>

<!--
  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<div> <!-- Start of 'editor' section. -->
  <h3>Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words.  The default text editor on Mac OS X and
    Linux is usually set to Vim, which is not famous for being
    intuitive.  if you accidentally find yourself stuck in it, try
    typing the escape key, followed by ':q!' (colon, lower-case 'q',
    exclamation mark), then hitting Return to return to the shell.
  </p>

  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
	<code>nano</code> is the editor installed by the Software
	Carpentry Installer, it is a basic editor integrated into the
	lesson material.
      </p>
      <p>
	<a href="http://notepad-plus-plus.org/">Notepad++</a> is a
	popular free code editor for Windows.  Be aware that you must
	add its installation directory to your system path in order to
	launch it from the command line (or have other tools like Git
	launch it for you).  Please ask your instructor to help you do
	this.
      </p>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
	We recommend
	<a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
	<a href="http://www.sublimetext.com/">Sublime Text</a>.
	In a pinch, you can use <code>nano</code>,
	which should be pre-installed.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
	<a href="http://kate-editor.org/">Kate</a> is one option for
	Linux users.  In a pinch, you can use <code>nano</code>, which
	should be pre-installed.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->

<div> <!-- Start of 'shell' section. -->
  <h3>The Bash Shell</h3>

  <p>
    Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly.
  </p>

  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
	Install Git for Windows by download and running
	<a href="http://msysgit.github.io/">the installer</a>.
	This will provide you with both Git and Bash in the Git Bash program.
      </p>
      <h4>Software Carpentry Installer</h4>
      <p><em>This installer requires an active internet connection.</em></p>
      <p>After installing Python and Git Bash:</p>
      <ul>
	<li>
          Download the <a href="{{site.swc_installer}}">installer</a>.
	</li>
	<li>
          If the file opens directly in the browser
          select <strong>File&rarr;Save Page As</strong> to download it
          to your computer.
	</li>
	<li>
          Double click on the file to run it.
	</li>
      </ul>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
	The default shell in all versions of Mac OS X is bash, so no
	need to install anything.  You access bash from the Terminal
	(found in
	<code>/Applications/Utilities</code>).  You may want to keep
	Terminal in your dock for this workshop.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
	The default shell is usually <code>bash</code>, but if your
	machine is set up differently you can run it by opening a
	terminal and typing <code>bash</code>.  There is no need to
	install anything.
      </p>
    </div>
  </div>
<div> <!-- End of 'shell' section. -->  

<div> <!-- Start of 'Git' section. -->
  <h3>Git</h3>

  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">github.com</a>.
  </p>

  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
	Git should be installed on your computer as part of your Bash
	install (described above).
      </p>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
	<strong>For OS X 10.8 and higher</strong>, install Git for Mac
	by downloading and running
	<a href="http://git-scm.com/downloads">the installer</a>.
	<strong>For older versions of OS X (10.5-10.7)</strong> use the
	most recent available installer for your
	OS <a href="https://code.google.com/p/git-osx-installer/downloads/list">available
	  here</a>.  Use the Leopard installer for 10.5 and the Snow
	Leopard installer for 10.6-10.7.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
	If Git is not already available on your machine you can try to
	install it via your distro's package manager. For Debian/Ubuntu run
        <code>sudo apt-get install git</code> and for Fedora run
        <code>sudo yum install git</code>.
      </p>
    </div>
  </div>
</div> <!-- End of 'Git' section. -->

<div> <!-- Start of 'Python' section. -->
  <h3>Python</h3>

  <p>
    <a href="http://python.org">Python</a> is a popular language for
    scientific computing, and great for general-purpose programming as
    well.  Installing all of its scientific packages individually can be
    a bit difficult, so we recommend an all-in-one installer.
  </p>

  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <ul>
	<li>
          Download and
          install <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
	</li>
	<li>
          Use all of the defaults for installation
          <em>except</em> make sure to check <strong>Make Anaconda the
            default Python</strong>.
	</li>
      </ul>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <ul>
	<li>
          Download and
          install <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
	</li>
	<li>
          Use all of the defaults for installation
          <em>except</em>
          make sure to check <strong>Make Anaconda the default Python</strong>.
	</li>
      </ul>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
	We recommend the all-in-one scientific Python installer
	<a href="http://continuum.io/downloads.html">Anaconda</a>.
	(Installation requires using the shell and if you aren't
	comfortable doing the installation yourself just
	download the installer and we'll help you at the boot
	camp.)
      </p>
      <ol>
	<li>
          Download the installer that matches your operating
          system and save it in your home folder.
	</li>
	<li>
          Open a terminal window.
	</li>
	<li>
          Type <pre>bash Anaconda-</pre> and then press
          tab. The name of the file you just downloaded should
          appear.
	</li>
	<li>
          Press enter. You will follow the text-only prompts.  When
          there is a colon at the bottom of the screen press the down
          arrow to move down through the text. Type <code>yes</code> and
          press enter to approve the license. Press enter to approve the
          default location for the files. Type <code>yes</code> and
          press enter to prepend Anaconda to your <code>PATH</code>
          (this makes the Anaconda distribution the default Python).
	</li>
      </ol>
    </div>
  </div>
</div> <!-- End of 'Python' section. -->

<div>
  <h3>Make</h3>
    <p>
         Originally invented to manage compilation of programs written 
         in languages like C, Make can be used to automatically update 
         any set of files that depend on another set of files. 
         This makes it a good solution for many data analysis and data 
         management problems. While there are many build tools now in 
         existence (e.g. ANT and CMake) they share the same fundamental 
         concepts as Make.
    </p>

    <div class="row-fluid">
    <div class="span4">
    <h4>Windows</h4>
    <p>
    Once you have installed Git Bash you can install Make by:
    <ul>
    <li>
    Download <code>make.exe</code> from <a href="https://github.com/msysgit/msysgit/blob/master/bin/make.exe?raw=true">here</a>
    </li>
    <li>
    Place it in the <code>bin</code> directory where you installed Git
    Bash e.g. <code>C:\Program Files (x86)\Git\bin</code>.
    </li>
    <li> 
    To test: open a Git Bash window, type <code>make</code>, and press
    Enter.
    </li>
    <li> 
    You should see the following message
    <pre>make: *** No targets specified and no makefile found. Stop.</pre>
    This means that Make was successfully installed.
    Otherwise, you'll see this error message:
    <pre>bash: make: command not found</pre>
    </li>
    </ul>
    </p>
    </div>
    <div class="span4">
    <h4> Mac OS X</h4>
     <p>
    For OS X, version 10.9 (Mavericks) or above, download the Command Line
    Tools by doing:    
    </p>
    <pre>xcode-select  --install</pre>
    <p>
    For more information, see the <a href="http://osxdaily.com/2014/02/12/install-command-line-tools-mac-os-x/">OSX Daily blog</a>.
    </p>
    If you have an over OS X version and you do not already have 
    access to <code>make</code> from within
    your shell, you will need to install XCode (which is free, but
    over a gigabyte to download). 
    </p>
    <ul>
      <li>Go to the Apple app store</li>
      <li>Search for XCode</li>
      <li>Click <strong>Free</strong></li>
      <li>Click <strong>Install App</strong></li>
    </ul>
    <p>
    Once XCode has installed:
    </p>
    <ul>
      <li>Click <strong>Applications</strong></li>
      <li>Click <strong>XCode</strong></li>
      <li>Select <strong>XCode&rarr;Preferences...</strong></li>
      <li>Click <strong>Downloads</strong></li>
      <li>Select <strong>Command Line Tools</strong></li>
      <li>Click <strong>Install</strong></li>
    </ul>
    <p>
    You will now be able to run <code>make</code> within your shell.
    </p>
    </div>
    <div class="span4">
       <h4>Linux</h4>
        <p>
    		Make is a standard tool on Linux systems and should already be
    		available.
    </p>
    </div>
   </div>
</div>
